Brotli==1.0.9
click==8.0.4
colorama==0.4.6
daal==2023.2.1
daal4py==2023.2.1
dash==2.7.0
dash-bootstrap-components==1.5.0
Flask==2.2.2
Flask-Compress==1.13
gunicorn==21.2.0
itsdangerous==2.0.1
Jinja2==3.1.2
joblib==1.3.2
MarkupSafe==2.1.1
numpy==1.21.6
packaging==23.2
pip==23.3
plotly==5.9.0
scikit-learn==1.0.2
scikit-learn-intelex==2023.2.1
scipy==1.11.3
sklearn==0.0.post10
tbb==2021.10.0
tenacity==8.2.2
threadpoolctl==3.2.0
Werkzeug==2.2.3
